.games-view {
  padding-top: 140px;
}
.games {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;

  &__grid {
    display: grid;
    row-gap: 50px;
    column-gap: 20px;
    grid-template-columns: 1fr;

    @include media-md {
      grid-template-columns: 1fr 1fr;
    }
    @include media-lg {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__category {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;

    @include media-md {
      flex-direction: row;
    }
  }
}
.game-card {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;

  padding: 0px 20px 26px;

  opacity: 0.7;
  transition: 0.25s ease-in-out;
  
  &:hover {
    opacity: 1;
    transform: scale(1.02);
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  }

  &__img {
    height: 240px;
    transform: translateY(-32px);

    @include media-md {
      height: 240px;
    }

    @include media-lg {
      height: 260px;
    }
  }

  & h1 {
    font-size: 22px;
    margin-bottom: 16px;
  }

  @include media-md {
    & h1 {
      font-size: 24px;
    }
  }

  @include media-lg {
    & h1 {
      font-size: 26px;
    }
  }
}

.game-category {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 4px 10px;
  border-radius: 10px;
  letter-spacing: 2px;

  &__main {
    font-size: 16px;
    margin-right: 6px;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      filter: brightness(1.5);
    }
  }
}